.card {
    height: 28rem !important;
}

.rounded {
    border-radius: 3rem !important;
}

.card-img-top {
    height: 60%;
    object-fit: cover;
}

.tag:last-child {
    margin-top: .1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}