.navbar {
    background-color: #fff;
    margin: 1rem;
    height: 4rem;
    border-radius: 1rem;
    padding: .5rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
}

.nav-link:hover {
    color: #000
}